body{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 13px;
}
table, tr{
	border: 1px solid black;
	border-collapse: collapse;
}
td, th{
	border: 1px solid black;
	padding: 10px;
}
a:hover{
	color: #71b800;
}
a{
	color : #070;
	text-decoration: none;
}
.newThreadHref:hover{
	color: #cc5400;
}
.newThreadHref{
	color : #da0202;
	text-decoration: underline;
}
.errors{
	color: #d11313;
}